.result-page {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

   .result-wrapper {
      color: rgb(240, 240, 240);

      .result-title {
         font-size: 4rem;
      }

      .result-points {
         margin-top: -5rem;
         margin-bottom: 2rem;
         font-size: 3rem;
         strong {
            font-size: 6rem;
            color: rgb(0, 221, 184);
         }
      }
   }
}
